body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: black;
            background-color: rgb(181, 195, 227);
        }
        li {
            font-size: 16px;
            font-style: italic;
            font-weight: normal; 
        }
        a {color: blue;
        text-decoration: none;
        }  
        a:hover {
            text-decoration: underline;
            font-weight: bold;
            font-size: 18px;    
        }
        a:visited {
            color: purple;
        }

        .resumeListHeading {
            font-weight: bold;
            font-style: normal;
        }   
        .underline {text-decoration: underline;}
        .bold {font-weight: bold;}
        .justify {text-align: justify;}

        .nav {
            text-align: center;
            margin-bottom: 20px;
        }
        .header {
            margin-bottom: 20px;
        }
        .main {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        .content {
            margin-top: 20px;
        }